[submodule "lib/uritemplate-test"]
	path = lib/uritemplate-test
	url = https://github.com/uri-templates/uritemplate-test.git
[submodule "uritemplate-test"]
	path = uritemplate-test
	url = https://github.com/uri-templates/uritemplate-test
